@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
/* 
::-webkit-scrollbar {
  display: none;
} */

.magic-font {
  font-family: "Sofia Sans Semi Condensed", serif;
  font-optical-sizing: auto;
}